<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wx.mapper.MemberRechargeMapper">

    <select id="getRechargeList" resultType="com.wx.pojo.member_recharge.MemberRecharge">
        SELECT mr.*,m.`name`,m.`username` FROM `member_recharge` AS mr LEFT JOIN `member` AS
            m ON m.`member_id` = mr.`member_id`
    </select>

    <select id="getRechargeByMember" parameterType="long" resultType="com.wx.pojo.member_recharge.MemberRecharge">
        SELECT mr.*,m.`name`,m.`username` FROM  `member_recharge` AS mr LEFT JOIN `member` AS m ON  m.`member_id` = mr.`member_id`
        WHERE m.`member_id` = #{memberId}
    </select>
</mapper>