<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.web.member.mapper.MemberMapper">
    <update id="addMoney">
            update member set money = money + #{param.money} where member_id =#{param.memberId}
    </update>
</mapper>